
body {
  background-image: url(box3.png);
  font-family:sans-serif;
  margin: 50px;
}


h5{

  text-align: center;
}






h4 {

  text-align: center;
}



h3 {


text-align: center;
}

h2 {

  text-align: center;
}



h1{
text-align: center;
    color: royalblue;
font-family:unset;
}

p {
color: whitesmoke;
text-align: center;
font-family:fantasy;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden; 
    background-color: b;
    position:sticky
                
    }
    li{
      float:right;
    
    }
    li a{
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    text-align:left
    }
    
    li a:hover{
    
    background-color: black;
    
    }
  h1 {
    animation: move 3s;
    -webkit-animation: move 3s;
  }
  
  
 

  @keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
              
  @-webkit-keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

h3 {
    color: whitesmoke;
    font-family: cursive;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: violet;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: violet;
  padding: 20px;
}



.purple-button{

padding: 12px 10px;
background-color: purple;
color: palegreen;

}

.purple-button :hover{

color: paleturquoise;
}















































































